<% if session[:username] %>
    <div class='account-area'>
        <h2>User: <%= session[:username] %></h2>
        <%= button_to 'Logout', session_url(session[:user_id]), 
            method: :delete, 
            class: 'btn btn-primary btn-danger'
            %>
    </div>
<%else%>
    <div class='login-area'>
        <h2>Login</h2>

        <%= form_with(model: @session_form, class: "row gy-2 gx-3 align-items-center") do |form| %>
            <% if @session_form.errors.any? %>
                <div style="color: red">
                <h2><%= pluralize(@session_form.errors.count, "error") %> prohibited this user from being saved:</h2>

                <ul>
                    <% @session_form.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                    <% end %>
                </ul>
                </div>
            <% end %>

            <div class="col-auto">
                <%= form.label :username, class:"form-label" %>
                <%= form.text_field :username, class: "form-control" %>
            </div>

            <div class="col-auto">
                <%= form.label :password, class:"form-label" %>
                <%= form.password_field  :password, class: "form-control" %>
            </div>

            <div  class="col-md-12">
                <%= form.submit 'Login', class: 'btn btn-primary' %>
            </div>
        <% end %>
    </div>
<% end %>